.containerResults {
    display: flex;
    flex-direction: column;
    // width: 500px;
    text-align: center;
    margin: auto;
    align-items: center;

    .textContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 40px;
            @media (max-width: 500px) {
                font-size: 30px;
            }
            span {
                display: block;
                font-size: 50px;
                text-align: center;
                margin-top: 20px;
            }
        }
        .subTitle {
            font-size: 25px;
            margin-top: 10px;
        }
    }
    .button {
        margin-top: 10px;
        border-radius: 5px;
        border: 0;
        background-color: #eb650c;
        color: white;
        height: 48px;
        width: 250px;
        font-size: 20px;
        padding: 0 0 2px 0;
        cursor: pointer;
        &:hover {
            background-color: #ca5a10;
        }
    }
}
